
@media only screen and (min-width : 768px) and (max-width : 991px) {
    :root{
        --my-color: #f5522c;
        --font-general:'Poppins', sans-serif;
        --bg-linear-general:linear-gradient(to bottom ,#f5404f,#f44544,#f4522a );
    }
    *{
        margin: 0;
        padding: 0;
    }

input#nav-menu-select {
    display: none;
}

input#nav-menu-select:checked ~.menu-mobile {
    transform: translateX(0px);
    transition: 0.4s;
}

.icon-bar label {
    display: inline-block;
    width: 100%;
}

.menu-mobile ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font-general);
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
}


.menu-mobile ul li {
    padding-left: 5%;
}

.menu-mobile ul {
    width: 100%;
    list-style: none;
}

.menu-mobile {
    width: 320px;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 100%;
    transform: translateX(-100%);
    z-index: 3;
}

.nav-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
    right: 0;
    background-color: #0000003b;
}
    body{
        overflow-x: hidden;
    }
    .icon-bar i.fa.fa-bars {
        font-size: 3.0rem;
        width: 30px;
        height: 30px;
        display: inline-block;
        cursor: pointer;
    }
    
    .icon-bar {
        /* width: 65%; */
        text-align: right;
    }
   
    .banner .img-advertise img {
        width: 100%;
    }
    
    .text-small {
        height: 36px;
        padding: 20px 0;
        font-size: 1.5rem;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-height: 25px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    
    button.btn-buy-now {margin-top: 20px;border: 1px solid #ffffffde;background-color: white;color: black;text-transform: uppercase;width: 205px;padding: 8px;font-family: var(--font-general);font-size: 1.6rem;border-radius: 25px;transition: 0.4s;}
    
    button.btn-buy-now:hover {
        background-color: transparent;
        color: white;
        transition: 0.4s;
    }
    
    .banner .infor .block-infor {color: white;width: 100%;}
    
    h1.title-big {white-space: nowrap;margin-top: 20px;font-size: 7.2rem;font-weight: 700;}
    
    .banner .infor h5.author {font-weight: 400;font-size: 1.6rem;letter-spacing: 3px;}
    
    .banner  .img-advertise {
        width: 40%;
    }
    
    
    
    .banner .infor {
        width: 60%;
        align-items: center;
        display: flex;
        text-align: center;
        font-family: var(--font-general);
    }
    
    ul.menu-child li {
        width: 100%;
        text-align: left;
        padding: 2px 10px !important;
    }
    
    i.fa.fa-chevron-down {
        color: white;
        padding-left: 3px;
        font-size: 0.8rem;
        position: relative;
        bottom: 2px;
    }
    
    ul.menu-child {
        width: 149px;
        padding: 10px 7px;
        height: 67px;
        opacity: 0;
        line-height: 28px;
        transition: 0.6s;
        visibility: hidden;
    }

.menu-mobile ul li:last-child:hover a ul.menu-child {
    opacity: 1;
    visibility: visible;
}
    
    nav .menu ul>li:last-child:hover ul.menu-child {
        opacity: 1;
        visibility: visible;
    }
    
    .banner {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
    }
    
    nav img {position: relative;top: 12px;}
    
    nav .menu ul>li a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        color: white;
        outline: none;
        font-family: var(--font-general);
    }
    
    nav .menu ul>li:last-child ul.menu-child li a{
        color: black ;
    }
    nav .menu ul>li:last-child ul.menu-child li:hover a {color: #f44447;transition: 0.4s;}
    
    nav .menu ul>li {
        display: inline-block;
        padding: 0 8px 0 8px;
    }
    
    nav .menu ul>li:last-child {
        position: relative;
    }
    
    nav .menu ul {
        list-style: none;
        /* opacity: 0; */
        display: none;
        /* visibility: visible; */
        width: 85%;
    }
    
    nav .menu {
        width: 60%;
        display: inline-block;
        padding-left: 45px;
        padding-top: 10px;
    }
    
    
    
    nav .logo {
        width: 30%;
        display: inline-block;
        height: 100%;
        padding-left: 21px;
    }
    
    .container {
        width: 1065px;
        margin: 0 auto;
    }
    
    nav {
        background-color: #f5414e;
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 60px;
        line-height: 60px;
        align-items: center;
        z-index: 3;
    }
    html{
        /* 1rem = 10px */
        font-size: 62.5%;
    
    }
    
    .app-book header.head {
        background-image: var(--bg-linear-general);
        margin-bottom: 86px;
    }
    
    
    html{
        /* 1rem = 10px */
        font-size: 62.5%;
    
    }
    
    .app-book header.head {
        background-image: var(--bg-linear-general);
        margin-bottom: 86px;
    }
    
   

}